{% block content %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Skywox</title>

        <link rel="stylesheet" href="http://mykpi.biz/assets/components/bootstrap/dist/css/bootstrap.min.css">
        <style type="text/css">
            body {
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #2089cf
            }

            .form-register, .form-signin {
                max-width: 333px;
                margin: 0 auto;
                background: white;
                border-radius: 3px;
                padding: 40px 40px 25px
            }

            .form-register h2, .form-signin h2 {
                margin-top: 0;
                margin-bottom: 20px;
                text-align: center
            }

            .form-register .forgotPassword, .form-signin .forgotPassword {
                font-size: 14px;
                text-align: center;
                margin-top: 10px
            }

            .form-register .forgotPassword a, .form-signin .forgotPassword a {
                color: #999;
                text-decoration: underline
            }

            .form-register .form-group .form-control, .form-signin .form-group .form-control {
                background: #fcfcfc;
                border: 2px solid #e7e7e7;
                margin: 20px auto;
                padding: 15px;
                display: block;
                border-radius: 3px;
                font-size: 18px;
                transition: opacity .4s;
                text-align: left;
                height: 56px
            }

            .form-register .form-control-start, .form-signin .form-control-start {
                border-top-left-radius: 4px !important;
                border-top-right-radius: 4px !important;
                margin-top: 0 !important
            }

            .form-register .form-control-end, .form-signin .form-control-end {
                border-bottom-left-radius: 4px !important;
                border-bottom-right-radius: 4px !important
            }

            .form-register .alert, .form-signin .alert {
                margin-bottom: 22px;
                margin-top: -3px
            }

            .registrationLink {
                margin-top: 15px;
                color: white
            }

            .registrationLink a {
                color: white !important;
                font-weight: bold;
                text-decoration: underline
            }
        </style>
    </head>
    <body>
    <form action="{{ path("sonata_user_admin_security_check") }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">{{ 'title_user_edit_authentication'|trans({}, 'SonataUserBundle') }}</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'SonataUserBundle') }}</div>
        {% endif %}

        <div class="form-group">
            <input name="_username" id="username" type="text" class="form-control"
                   placeholder="{{ 'security.login.username'|trans({}, 'Auth')|lower }}" required="required"
                   autofocus="autofocus" value="{{ last_username }}"></div>
        <div class="form-group">
            <input name="_password" id="password" type="password" class="form-control"
                   placeholder="{{ 'security.login.password'|trans({}, 'Auth')|lower }}" required="required"
                    ></div>

        <div class="control-group">
            <label for="remember_me" style="font-weight:normal; margin-bottom:15px">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>

        <p>
            <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-success btn-block"
                    >{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </p>
    </form>

    <script src="http://mykpi.biz/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="http://mykpi.biz/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    </body>
    </html>
{% endblock content %}
